.ingredient--malformed {
  text-decoration: wavy underline red;
}

.ingredient--unit-not-found .ingredient-unit {
  text-decoration: wavy underline red;
}

.ingredient--ingredient-not-found .ingredient-name {
  text-decoration: wavy underline red;
}

.ingredient--bad-quantity .ingredient-quantity {
  text-decoration: wavy underline red;
}

.ingredient--bad-unit-definition .ingredient-unit {
  background-color: red;
  color: white;
}

.ingredient--bad-ingredient-definition .ingredient-name {
  background-color: red;
  color: white;
}