.ingredient--malformed {
  background-color: red;
  color: white;
}

.ingredient--unit-not-found .ingredient-unit {
  background-color: orange;
}

.ingredient--ingredient-not-found .ingredient-name {
  background-color: orange;
}
