.ingredient--malformed {
  text-decoration: wavy underline red;
}

.ingredient--unit-not-found .ingredient-unit {
  text-decoration: wavy underline red;
}

.ingredient--ingredient-not-found .ingredient-name {
  text-decoration: wavy underline red;
}


