.mildError {
  text-decoration: wavy underline salmon;
}

.seriousError {
  background-color: red;
  color: white;
}

.csvExample {
  color: grey;
  font-family: monospace;
}

.ignored {
  color: grey;
}