.wrapper {
  composes: flexWrap from "../styles/layout.module.css";
}

.child {
  composes: flexChild from "../styles/layout.module.css";
}

.definitionField {
  composes: box from "../styles/layout.module.css";
}

.definitionFormatExample {
  margin: 0;
  composes: csvExample from "../styles/typography.module.css";
}

.showDefinitionsToggle {
  margin-top: 0;
  margin-bottom: 15px;
}