.wrapper {
  composes: flexWrap from "../../styles/layout.module.css";
}

.child {
  composes: flexChild from "../../styles/layout.module.css";
}

.showDefinitionsToggle {
  margin-top: 0;
  margin-bottom: 15px;
}