.malformed {
  composes: ignored from "../../styles/typography.module.css";
}

.unitNotFound {
  composes: mildError from "../../styles/typography.module.css";
}

.ingredientNotFound {
  composes: mildError from "../../styles/typography.module.css";
}

.badQuantity {
  composes: mildError from "../../styles/typography.module.css";
}

.badUnitDefinition {
  composes: seriousError from "../../styles/typography.module.css";
}

.badIngredientDefinition {
  composes: seriousError from "../../styles/typography.module.css";
}